[submodule "microros_static_library_ide/library_generation/extra_packages/cpr_common_core"]
	path = microros_static_library_ide/library_generation/extra_packages/cpr_common_core
	url = https://gitlab.clearpathrobotics.com/research/cpr_common_core.git
